@use '../../styles/globals' as *;

.balancePartiesContainer {
    margin-top: 3rem;

    .headerArea {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .heading {
        @include main-heading();
        @include spacing(margin, (bottom, 2rem));
    }
}