@use '../../styles/globals' as *;


.formGroup {
    @include flex-column();
    @include spacing(margin, (bottom, $spacing-md));

    label {
        @include spacing(margin, (bottom, 0.5rem));
        @include responsive-font(0.9rem, 1rem);
    }

    input,
    textarea {
        width: 100%;
        border: none;
        font-family: $font-body;
        @include spacing(padding, (horizontal, 1.1rem), (vertical, $spacing-md));
        @include border(2px);
        @include responsive-font(0.9rem, 1rem);
        @include border-radius($radius-lg);

        &.withIcon {
            @include spacing(padding, (left, 2.5rem));
        }


        &::placeholder {
            color: $neutral-dark;
        }

    }

    textarea {
        resize: vertical;
        min-height: 60px;
    }
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;

    .icon {
        position: absolute;
        left: 0.75rem;
        color: $neutral-dark;
        pointer-events: none;
        z-index: 2;
    }

    .togglePassword {
        position: absolute;
        right: 0.75rem;
        color: $neutral-dark;
        cursor: pointer;
        display: flex;
        align-items: center;
        z-index: 2;
    }
}

select {
    width: 100%;
    border: none;
    font-family: $font-body;
    @include spacing(padding, (horizontal, 0.5rem), (vertical, 0.8rem));
    @include border(2px);
    @include responsive-font(0.9rem, 1rem);
    @include border-radius($radius-lg);
    outline: none;


    &::placeholder {
        color: $neutral-dark;
    }

    option {
        font-family: $font-body;
    }
}