@use '../../styles/globals' as *;

.partyContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttonGroup {
        display: flex;
        justify-content: space-between;
        min-width: 35rem;
        margin: 1.5rem;

        button {
            background-color: $neutral-dark;
            color: $neutral-light;
            font-size: 1.1rem;
            font-weight: 500;
            letter-spacing: 0.3px;
            border-radius: 6px;
            padding: 0.8rem 1rem;
            cursor: pointer;
            border: none;
            @include transition();

            &:hover {
                background-color: lighten($neutral-dark, 10%);
            }

            &:active {
                transform: scale(0.8);
            }
        }
    }
}

.frameContainer {
    min-width: 35rem;
    width: 100%;
}