@use '../../styles/globals' as *;

.homeContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
}

.viewContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    user-select: none;
    position: relative;
    margin-top: $spacing-md;
    padding: 0 $spacing-md;
    gap: 20px;

    .viewContent {
        color: $neutral-light;
        background-color: $primary-bg;
        display: inline-flex;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: $radius-sm;

        .viewText {
            font-weight: bold;
            margin-right: $spacing-sm;
        }

        .viewList {
            @include flex-center();
            gap: 0.3rem;
            cursor: pointer;

            span,
            .viewIcon {
                @include flex-center();
                @include transition();
            }

            &:hover {
                color: $primary;
            }
        }
    }
}

.viewDropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50px;
    background-color: $primary-bg;
    padding: 0.6rem 0.8rem;
    border-radius: $radius-sm;

    /* animation defaults */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.25s ease;

    &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    hr {
        width: 100%;
    }

    div {
        padding: 0.3rem;
        font-size: 1.1rem;
        @include transition();

        &:hover {
            color: $primary;
            cursor: pointer;
        }
    }
}

.homeContent {
    width: 100%;
    padding: 1rem;
}

.searchContainer {
    flex: 1;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;

    .searchWrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .input {
            width: 100%;
            border: 1px solid black;
            font-size: 1.1rem;
            padding: 0.8rem 2.5rem;
            color: gray;
            margin-right: 20px;
        }

        .icon {
            position: absolute;
            left: 0;
            color: gray;
            font-size: 1.1rem;
            margin-left: 15px;
            @include flex-center();
        }

        .cancelSearch {
            color: gray;
            position: absolute;
            right: 30px;
            @include flex-center();
            cursor: pointer;
            @include transition();

            &:hover {
                color: black;
            }
        }
    }
}