@use '../../styles/globals' as *;
@use "sass:color";

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.primaryBtn {
    padding: 0.9rem 2rem;
    min-width: 50%;
    border-radius: 8px;
    border: none;
    color: $brand-color;
    font-size: 1.2rem;
    cursor: pointer;
    background: white;
}