@use '../../styles/globals' as *;
@use "sass:color";

.formSection {
  @include bg-color($secondary-bg);
  @include border-radius($radius-lg);
  @include spacing(margin, (all, $spacing-md));
  @include spacing(padding, (vertical, $spacing-md), (horizontal, $spacing-lg));
  box-shadow: $box-shadow-lg;
  border: $border-lg;

  @include respond-to(md) {
    @include spacing(margin, (all, $spacing-sm));
    @include spacing(padding, (all, $spacing-md));
  }
}

.sectionTitle {
  @include responsive-font($heading-sm, $heading-md, $heading-lg);
  text-align: center;
  letter-spacing: 0.5px;
  font-family: $font-heading;
  text-shadow: $text-shadow;
  border-bottom: 1px solid $neutral-light;
  @include spacing(margin, (bottom, $spacing-md));
  @include spacing(padding, (bottom, $spacing-md))
}